/* styles/Navbar.module.css */
.navbar {
  background-color: #f0f0f0;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .navList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .navItem {
    margin: 0;
  }
  
  .navItem a {
    color: #0F1C43;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  /* .navItem a:hover {
    background-color: #555;
  } */
  .active {
    font-weight: bold;
  }
  .wrapper {
    flex: 1;
    text-align: center;
  }
  .submenu {
    background-color: #f0f0f0;
    padding: 10px;
    position: fixed;
    z-index: 100;
    top: 50px; /* Định vị từ phía trên */
 /* Định vị từ phía trái */
    transform: translateX(-50%); /* Căn giữa theo chiều ngang */
    width: auto; /* Chiều rộng submenu */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  .submenu ul:first-child {
    list-style: none;
    padding: 0;
    margin: 0;
}
  .submenu ul:first-child {
    border-top: 1px solid #ccc;
  }
  
  
  .submenu li {
    padding: 5px 0;
    
}

.submenu li:last-child {
    border-bottom: 1px solid #ccc;
}
.submenu ul:second-child {
    border-top: 1px solid #ccc;
}